{% extends "base.html" %}
{% block content %}
  <h2>Manuelle Daten hinzufügen</h2>
  <form method="post" class="form">
    <div class="form-group">
      <label for="club_id">Club auswählen:</label>
      <select name="club_id" class="form-control" required>
        <option value="">-- Club wählen --</option>
        {% for c in clubs %}
          <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
      </select>
    </div>
    <hr>
    <h4>Titel hinzufügen</h4>
    <div class="form-group">
      <input name="title_name" class="form-control" placeholder="Title name">
    </div>
    <div class="form-group">
      <input name="title_year" class="form-control" placeholder="Year" style="width: 6em;">
    </div>
    <button class="btn btn-success" type="submit">Add Title</button>
    <hr>
    <h4>Trainer hinzufügen</h4>
    <div class="form-group">
      <input name="trainer_name" class="form-control" placeholder="Trainer name">
    </div>
    <button class="btn btn-success" type="submit">Add Trainer</button>
  </form>
{% endblock %}
