{% extends "base.html" %}
{% block content %}
<h2>Titel hinzufügen</h2>
<form method="post">
    <label for="title_name">Titelname:</label>
    <input type="text" name="title_name" required><br>
    <label for="club_name">Club:</label>
    <input type="text" name="club_name" required placeholder="Clubname eingeben"><br>
    <label for="year_">Jahr:</label>
    <input type="number" name="year_" min="1800" max="2100" required><br>
    <button type="submit">Titel hinzufügen</button>
</form>
{% endblock %}
